<mat-toolbar class="header" color="primary">
  <div class="header-top">
    <div class="container">
      @if (user?.email) {
        <nav class="top-nav">
          <a mat-button>Hi, {{ user.firstName }}</a>
          <a mat-button (click)="logout()">Logout</a>
        </nav>
      } @else {
        <nav class="top-nav">
          <a mat-button>Sign up</a>
          <a mat-button (click)="goToLogin()">Login</a>
        </nav>
      }
    </div>
  </div>

  <div class="header-main">
    <div class="container">
      <div class="main-content">
        <app-logo color="white"></app-logo>

        <div class="search-bar">
          <mat-form-field appearance="outline" class="search-field">
            <input
              matInput
              placeholder="Search for products"
              [formControl]="form"
            />
            <button mat-icon-button matSuffix color="primary">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="header-actions">
          <button
            mat-icon-button
            class="cart-button"
            (click)="goToCartDetails()"
          >
            <mat-icon
              [matBadge]="cartCount"
              matBadgeColor="accent"
              aria-hidden="false"
              >shopping_cart</mat-icon
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
