<div class="logo-container">
  <app-logo></app-logo>
</div>
<div class="error-container">
  <mat-card>
    <mat-card-content>
      <div class="error-content">
        <div class="message-container--danger">
          <p class="text-danger">
            Your don't have permission to access this page. Please login to
            continue shopping.
          </p>
        </div>

        <button
          mat-flat-button
          color="primary"
          (click)="goToLogin()"
          class="error-content__button"
        >
          Go to Log in
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
