<div class="logo-container">
  <app-logo></app-logo>
</div>
<div class="error-container">
  <app-shared-container>
    <div content>
      <div class="error-content">
        <div class="message-container--danger">
          <p class="text-danger">
            Your don't have permission to access this page. Please login to
            continue shopping.
          </p>
        </div>
      </div>
    </div>
    <div actions>
      <button
        mat-flat-button
        color="primary"
        (click)="goToLogin()"
        class="error-content__button"
      >
        Go to Log in
      </button>
    </div>
  </app-shared-container>
</div>
