.logo-container {
  padding-top: 64px;
  padding-bottom: 32px;
}

.error-container {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}

.error-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  padding-top: 32px;
  padding-bottom: 32px;

  &__button {
    margin-bottom: 8px;
    width: 400px;
  }
}
