.logo-container {
  padding-top: 64px;
  padding-bottom: 32px;
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  padding-top: 32px;
  height: 60vh;

  &__input {
    margin-bottom: 8px;
  }

  &__input-container,
  &__button-container {
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-bottom: 8px;
  }
}
