.shared-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 400px;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &__header {
    font-weight: 600;
    align-self: start;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
